@model IEnumerable<HomeNewsViewModel>

<div class="container-fluid">
    <div class="row">
        @foreach (var card in Model)
        {
            <div class="col">
                <div class="card mb-3">
                    <a asp-controller="News" asp-action="GetNewsById" asp-route-id="@card.Id">
                        <img src="@card.ImagePath" class="card-img-top" alt="Some picture">
                    </a>
                    <div class="card-body">
                        <a class="card-news-text" asp-controller="News" asp-action="GetNewsById" asp-route-id="@card.Id">
                            <h5 class="card-title">@card.Name</h5>
                        </a>
                        <p class="card-text"><small class="text-body-secondary">@card.Date.ToString("f")</small></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
