@model IEnumerable<HomePromotionsViewModel>

@{
    int count = 1;
    foreach (var promotion in Model)
    {
        <div class="row">
            <div class="col @(count % 2 == 0 ? "reverse": "normal")">
                <img src="@promotion.ImagePath" class="rounded-3" alt="Alternate Text" />
                <div>
                    <h3>
                        @promotion.Name
                    </h3>
                    <p>@promotion.Description</p>
                    <a class="btn btn-primary promotionBtnColor" href="promo/@promotion.Name">@promotion.ButtonText</a>
                </div>
            </div>
        </div>
        @(count++);
    }
}