@model IEnumerable<HomePromotionViewModel>

@{
    int count = 1;
    foreach (var promotion in Model)
    {
        <div class="row">
            <div class="col @(count % 2 == 0 ? "reverse": "normal")">
                @if (string.IsNullOrWhiteSpace(promotion.Link))
                {
                    <a asp-controller="Promotions" asp-action="Get" asp-route-name="@promotion.Name">
                        <img src="@promotion.ImagePath" class="rounded-3" alt="Alternate Text" />
                    </a>
                }
                else
                {
                    <a href="@promotion.Link">
                        <img src="@promotion.ImagePath" class="rounded-3" alt="Alternate Text" />
                    </a>
                }
                <div>
                    <h3>
                        @promotion.DisplayName
                    </h3>
                    <p>@promotion.Description</p>
                    @if (string.IsNullOrWhiteSpace(promotion.Link))
                    {
                        <a class="btn btn-primary learn__more__btn" asp-controller="Promotions" asp-action="Get" asp-route-name="@promotion.Name">@promotion.ButtonText</a>
                    }
                    else
                    {
                        <a href="@promotion.Link" class="btn btn-primary learn__more__btn">@promotion.ButtonText</a>
                    }
                </div>
            </div>
        </div>
        @(count++)
        ;
    }
}