@model IEnumerable<PromotionViewModel>

<h1 class="white-text pt-5">Акции и скидки</h1>
<div class="pt-5 pb-5">
    @{
        int count = 1;
        foreach (var promotion in Model)
        {
            <div class="row">
                <div class="col @(count % 2 == 0 ? "reverse" : "normal")">
                    <a asp-controller="Promotions" asp-action="GetPromotionById" asp-route-id="@promotion.Id">
                        <img src="@promotion.ImagePath" class="rounded-3" alt="Alternate Text" />
                    </a>
                    <div>
                        <h3>@promotion.Name</h3>
                        <p>@promotion.Description</p>
                        <a class="btn btn-primary promotionBtnColor" asp-controller="Promotions" asp-action="GetPromotionById" asp-route-id="@promotion.Id">
                            @promotion.ButtonText
                        </a>
                    </div>
                </div>
            </div>
            @(count++)
            ;
        }
    }
</div>
